// npm install --save-dev babel-eslint eslint eslint-plugin-react  eslint-plugin-react-native
{
    "parser": "babel-eslint",
    "env": {
        // "react-native/react-native": true,
        "es6": true,
        "browser": true
    },
    "plugins": ["react"],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "indent": [2, 4],
        "quotes": [2, "double"],
        "linebreak-style": [2, "windows"],
        "semi": [2, "always"]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
            // "experimentalObjectRestSpread": true
            // "impliedStrict": true
        }
    }
}
